.bg-color1{
    background-color: #21DADB;
}

.bg-color2{
    background-color: #35BBDF;
}

.bg-color3{
    color: #4D94E6;
}

.txt-color1{
    color: #21DADB;
}

.txt-color2{
    color: #35BBDF;
}

.txt-color3{
    color: #4D94E6;
}

.txt-color4{
    color: #4683ca;
}