:root{
    --color1:#21DADB;
    --color2:#35BBDF;
    --color3:#4D94E6;
    --gradient1: linear-gradient(135deg, var(--color1), var(--color2));
    --gradient2: linear-gradient(135deg, var(--color2), var(--color3));
}

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}
/*Style main hero-section*/

.main{
    display: flex;
    margin: 0 40px;
}

.main .main-txt h1 span{
    font-weight: normal;
}

.main .main-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 75px;
}

.main .main-txt h1{

    font-weight: bold;
    letter-spacing: 3px;
    word-spacing: 5px;
    align-items: center;
}

.main-txt p, .welcome-txt p{
    margin-top: 50px;
    justify-content: left;
    width: 70%;
    font-size: 22px;
    text-align: justify;
}

.main .main-txt button{
    background-color: var(--color3);
    width: auto;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border-radius: 20px;
    display: inline-block;
    align-self: flex-start;
    margin-top: 40px;
}

.main .marketing-img{
    width: 35%;
    margin-right: 60px;
}

/*Welcome Section*/

.welcome img{
    width: 35%;
}


.welcome .welcome-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 100px;
}

.welcome .welcome-txt h2{
    font-weight: bold;
    text-align: left;
    align-items: center;
    font-size: 30px;
}